In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='ticks')
%matplotlib inline

In [2]:
try:
    os.chdir(os.path.join(os.path.dirname(os.getcwd()), r'mlclass-ex1-006\mlclass-ex1'))
    print(os.getcwd())
except:
    pass

P:\2019 Study\Python\coursera-mlclass-ex-python\mlclass-ex1-006\mlclass-ex1

In [6]:
data2 = pd.read_csv('ex1data2.txt', names=['size', 'bedroom', 'price'])
data2.corr()

             size   bedroom     price
size     1.000000  0.559967  0.854988
bedroom  0.559967  1.000000  0.442261
price    0.854988  0.442261  1.000000

In [7]:
from sklearn.preprocessing import StandardScaler()

SyntaxError: invalid syntax (<ipython-input-7-c849f6d20048>, line 1)